.text {
	padding: 20px;
	margin: 20px;
	border: 1px solid #000;
	width: 300px;
}

img {
	padding: 20px;
}

.box {
	border: 3px solid #ccc;
	margin-bottom: 50px;
	height: 800px;

	display: flex;
	/*flex-direction: row-reverse; начало справа*/
	/*justify-content: space-evenly;*/
	/*flex-wrap: wrap; если элементы не влазят, то переходят на новую строку*/
	/*align-items: center; расположение по вертикали*/
	/*align-items: baseline; по высоте строки*/

	/*flex-wrap: wrap;
	align-items: center;
	align-content: center; позиционирование элементов, которые располагаются в несколько строк*/
}

.text-3 {
	align-self: center;
	order: -1;
	margin-left: auto;
}

.text-2 {
	order: -2;
}