.text {
	padding: 20px;
	margin: 20px;
	border: 1px solid #000;
	width: 300px;
}

img {
	padding: 20px;
}

.box {
	border: 3px solid #ccc;
	margin-bottom: 50px;
	height: 800px;

	display: flex;
	/*flex-direction: row-reverse; начало справа*/
	/*justify-content: space-evenly;*/
	/*flex-wrap: wrap; если элементы не влазят, то переходят на новую строку*/
	/*align-items: center; расположение по вертикали*/
	/*align-items: baseline; по высоте строки*/

	/*flex-wrap: wrap;
	align-items: center;
	align-content: center; позиционирование элементов, которые располагаются в несколько строк*/
}

.text-3 {
	align-self: center;
	order: -1;
	margin-left: auto;
}




.text-2 {
	order: -2;
}

.box2 {
	display: flex;
	/*flex-direction: column;*/
	max-width: 1000px;
	height: 800px;
	border: 1px solid #000;
	justify-content: space-between;
}

.text2 {
	border: 1px solid #ccc;
	flex-basis: 300px; /*Ширина вдоль главной оси*/
}

.text2:nth-child(1) {
	/*flex-grow: 1;*/ /*Коэффициент занимаемого места*/
	flex: 0 1 auto; /*это flex-grow: 1; flex-shrink: 1; flex-basis: auto;*/
}

.text2:nth-child(2) {
	/*flex-grow: 2;*/
	/*flex-shrink: 0;*/
}